Repository shantanug-deriv/quill-design: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, npm run test:staged

.lintstagedrc.json:

{
    "*.{tsx,ts}": [
      "prettier --write",
      "eslint"
    ],    
    "*.{scss,css}": "prettier --write",
    "./src/**/*.{js,jsx,ts,tsx}": ["npm run test:staged"]
}

ci: release(version): Release 1.1.12 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: Update from https://github.com/deriv-com/quill-tokens/commit/580adb8317681cf59c49be803d14651443468e79
  quill-tailwind/_core.css
  quill-tailwind/_dark.css
  quill-tailwind/_desktop.css
  quill-tailwind/_laptop.css
  quill-tailwind/_lg.css
  quill-tailwind/_light.css
  quill-tailwind/_mobile.css
  quill-tailwind/_sm.css
  quill-tailwind/_tablet.css
  quill-tailwind/tailwind.config.cjs
  quill-tailwind/tailwind.config.js
  quill-tailwind/token-names.ts
Due: prettier --write, eslint

ci: release(version): Release 1.1.13 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: removed h7 heading tag
  __snapshots__/components/typography/typography.test.tsx.snap
  src/components/typography/heading/h7/h7.stories.ts
  src/components/typography/heading/h7/index.tsx
  src/components/typography/heading/index.tsx
  src/components/typography/typography.test.tsx
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.1.14 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: header alignment on mobile
  src/components/accordion/base/index.tsx
Due: prettier --write, eslint, npm run test:staged

chore: improve acction sheet
  src/components/action-sheet/action-sheet.classnames.ts
  src/components/action-sheet/close/index.tsx
  src/components/action-sheet/handle-bar/index.tsx
  src/components/action-sheet/header/index.tsx
  src/components/action-sheet/portal/index.tsx
  src/hooks/useSwipeBlock/index.ts
Due: prettier --write, eslint, npm run test:staged

chore: improve acction sheet v2
  __snapshots__/components/action-sheet/footer/footer.test.tsx.snap
  src/components/action-sheet/action-sheet.classnames.ts
  src/components/action-sheet/footer/index.tsx
  src/components/action-sheet/handle-bar/index.tsx
  src/hooks/useSwipeBlock/index.ts
Due: prettier --write, eslint, npm run test:staged

chore: set default with to w-full set border transition on hover remove default placeholder
  __snapshots__/components/input/base/base.test.tsx.snap
  __snapshots__/components/input/search-field/search-field.test.tsx.snap
  __snapshots__/components/input/text-field/text-field.test.tsx.snap
  src/components/input/base/base.classnames.ts
  src/components/input/base/index.tsx
  src/components/input/search-field/index.tsx
  src/components/input/search-field/search-field.test.tsx
Due: prettier --write, eslint, npm run test:staged

chore: remove unnecessary w-full
  __snapshots__/components/input/base/base.test.tsx.snap
  __snapshots__/components/input/search-field/search-field.test.tsx.snap
  __snapshots__/components/input/text-field/text-field.test.tsx.snap
  src/components/input/base/base.classnames.ts
Due: prettier --write, eslint, npm run test:staged

chore: adjust padding for input with label and value
  __snapshots__/components/input/base/base.test.tsx.snap
  __snapshots__/components/input/search-field/search-field.test.tsx.snap
  __snapshots__/components/input/text-field/text-field.test.tsx.snap
  src/components/input/base/base.classnames.ts
  src/components/input/base/index.tsx
Due: prettier --write, eslint, npm run test:staged

chore: add status message animations
  src/components/input/base/base.classnames.ts
  src/components/input/base/index.tsx
  tailwind.config.js
Due: prettier --write, eslint, npm run test:staged

chore: add updated snapshots
  __snapshots__/components/input/base/base.test.tsx.snap
  __snapshots__/components/input/search-field/search-field.test.tsx.snap
  __snapshots__/components/input/text-field/text-field.test.tsx.snap
Due: none

chore: added active satte of link component with small animation
  src/components/link/index.tsx
  src/components/link/link.classnames.ts
Due: prettier --write, eslint, npm run test:staged

chore: updated test snap
  __snapshots__/components/link/link.test.tsx.snap
Due: none

feat: tab component
  src/components/tabs/container/index.tsx
  src/components/tabs/content/index.tsx
  src/components/tabs/index.tsx
  src/components/tabs/list/index.tsx
  src/components/tabs/mocks/example.tsx
  src/components/tabs/panel/index.tsx
  src/components/tabs/tab.classnames.ts
  src/components/tabs/tab.stories.tsx
  src/components/tabs/tab/index.tsx
  src/components/tabs/tests/index.tsx
  src/components/tabs/types.tsx
Due: prettier --write, eslint, npm run test:staged

chore: scope margin to input with label
  __snapshots__/components/input/base/base.test.tsx.snap
  __snapshots__/components/input/search-field/search-field.test.tsx.snap
  __snapshots__/components/input/text-field/text-field.test.tsx.snap
  src/components/input/base/base.classnames.ts
Due: prettier --write, eslint, npm run test:staged

chore: add animation to all statuses
  __snapshots__/components/input/base/base.test.tsx.snap
  src/components/input/base/base.classnames.ts
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.1.15 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

ci: release(version): Release 1.1.16 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: tab component css changes
  src/components/tabs/mocks/example.tsx
  src/components/tabs/tab.classnames.ts
  src/components/tabs/tab/index.tsx
  src/components/tabs/types.tsx
Due: prettier --write, eslint, npm run test:staged

feat: changed the tab naming
  src/components/tabs/tab.stories.tsx
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.1.17 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: code review comments
  src/components/tabs/container/index.tsx
  src/components/tabs/content/index.tsx
  src/components/tabs/list/index.tsx
  src/components/tabs/mocks/example.tsx
  src/components/tabs/panel/index.tsx
  src/components/tabs/tab.classnames.ts
  src/components/tabs/tab.stories.tsx
  src/components/tabs/tab/index.tsx
  src/components/tabs/types.tsx
Due: prettier --write, eslint, npm run test:staged

fix: added the description
  src/components/tabs/container/index.tsx
  src/components/tabs/mocks/example.tsx
  src/components/tabs/tab.stories.tsx
  src/components/tabs/tab/index.tsx
Due: prettier --write, eslint, npm run test:staged

fix: removed the comments
  src/components/tabs/panel/index.tsx
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: fixed some types issue, write test cases and added dot notation
  __snapshots__/components/tabs/trigger/trigger.test.tsx.snap
  src/components/index.ts
  src/components/tabs/container/container.test.tsx
  src/components/tabs/container/index.tsx
  src/components/tabs/content/content.test.tsx
  src/components/tabs/index.tsx
  src/components/tabs/list/list.test.tsx
  src/components/tabs/mocks/example.tsx
  src/components/tabs/panel/panel.test.tsx
  src/components/tabs/tests/index.tsx
  src/components/tabs/trigger/index.tsx
  src/components/tabs/trigger/trigger.test.tsx
  src/components/tabs/types.tsx
Due: prettier --write, eslint, npm run test:staged

chore: moved icon classes
  src/components/tabs/tab.classnames.ts
  src/components/tabs/trigger/index.tsx
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.2.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: updated quill tokens fonts, requested by designers
  quill-tailwind/fonts.css
Due: prettier --write

ci: release(version): Release 1.2.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: fix tab and action sheet export
  src/components/action-sheet/index.tsx
  src/components/tabs/index.tsx
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.2.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: fix pagination export
  src/components/pagination/index.tsx
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.2.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: storybook tab type issue and tab scrolling issue
  quill-tailwind/styles.css
  src/components/tabs/container/index.tsx
  src/components/tabs/list/index.tsx
  src/components/tabs/mocks/example.tsx
  src/components/tabs/tab.classnames.ts
  src/components/tabs/tab.stories.tsx
Due: prettier --write, eslint, npm run test:staged

fix: tailwind custom css
  quill-tailwind/styles.css
  src/styles.scss
Due: prettier --write

ci: release(version): Release 1.2.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: fluid container padding issue
  __snapshots__/components/containers/containers.test.tsx.snap
  src/components/containers/fluid/index.tsx
Due: prettier --write, eslint, npm run test:staged
