Repository shantanug-deriv/quill-design: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.1.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: :recycle: incorporated review comments
  src/components/pagination/index.tsx
  src/components/pagination/mocks/Blog.tsx
  src/components/pagination/mocks/Post.tsx
  src/components/pagination/pagination-button.test.tsx
  src/components/pagination/pagination-button.tsx
  src/components/pagination/pagination.classnames.ts
  src/components/pagination/pagination.stories.tsx
  src/components/pagination/pagination.test.tsx
  src/components/pagination/pagination.types.ts
Due: prettier --write, eslint, npm run test:staged

chore: :recycle: incorporated review comments
  src/components/pagination/pagination-button.tsx
Due: prettier --write, eslint, npm run test:staged

chore: :recycle: incorporated review comments
  src/components/pagination/pagination-button.test.tsx
Due: prettier --write, eslint, npm run test:staged

chore: updated buttons, chip typography
  __snapshots__/components/button/social/apple/social-apple.test.tsx.snap
  __snapshots__/components/button/social/facebook/social-facebook.test.tsx.snap
  __snapshots__/components/button/social/google/social-google.test.tsx.snap
  __snapshots__/components/chip/selectable-chip/selectable-chip.test.tsx.snap
  package-lock.json
  package.json
  src/components/button/button.classes.ts
  src/components/chip/chip.classnames.ts
  src/components/input/base/index.tsx
  src/components/input/search-field/index.tsx
  src/components/input/text-field/index.tsx
Due: prettier --write, eslint, npm run test:staged

chore: using semantic tokens for chips typography color
  __snapshots__/components/chip/selectable-chip/selectable-chip.test.tsx.snap
  src/components/chip/chip.classnames.ts
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.1.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: fixed type issue
  src/components/link-item/index.tsx
  src/components/link-item/link-item.classnames.ts
  src/components/link-item/link-item.test.tsx
  src/components/link-item/styles.module.scss
  src/components/link-item/types.ts
Due: prettier --write, eslint, npm run test:staged

chore: added ScreenProvider
  jest.setup.ts
  package-lock.json
  package.json
  src/components/button/types/index.ts
  src/contexts/screen/index.tsx
  src/contexts/theme/index.tsx
  src/hooks/index.ts
  src/hooks/useMediaQuery/index.ts
  src/hooks/useScreen/index.ts
  src/hooks/useScreen/useScreen.test.tsx
  src/providers/index.ts
  src/providers/screen/index.tsx
  test-utils/index.tsx
Due: prettier --write, eslint, npm run test:staged

fix: updated test and removed default varients
  __snapshots__/components/link-item/link-item.test.tsx.snap
  src/components/link-item/link-item.classnames.ts
  src/components/link-item/link-item.test.tsx
Due: prettier --write, eslint, npm run test:staged

chore: removed hard coded value from screen provider
  src/providers/screen/index.tsx
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.1.6 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: added cursor pointer
  __snapshots__/components/link-item/link-item.test.tsx.snap
  src/components/link-item/link-item.classnames.ts
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.1.7 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: added accordion component
  src/components/accordion/accordion.classnames.ts
  src/components/accordion/base/base.module.css
  src/components/accordion/base/base.spec.tsx
  src/components/accordion/base/index.tsx
  src/components/accordion/elevate/elevate.spec.tsx
  src/components/accordion/elevate/elevate.stories.tsx
  src/components/accordion/elevate/index.tsx
  src/components/accordion/fill/fill.spec.tsx
  src/components/accordion/fill/fill.stories.tsx
  src/components/accordion/fill/index.tsx
  src/components/accordion/flush/flush.spec.tsx
  src/components/accordion/flush/flush.stories.tsx
  src/components/accordion/flush/index.tsx
  src/components/accordion/index.tsx
  src/components/accordion/outline/index.tsx
  src/components/accordion/outline/outline.spec.tsx
  src/components/accordion/outline/outline.stories.tsx
  src/components/accordion/types.ts
Due: prettier --write, eslint, npm run test:staged

fix: icon import issues
  src/components/accordion/base/index.tsx
  src/components/accordion/elevate/elevate.stories.tsx
  src/components/accordion/fill/fill.stories.tsx
  src/components/accordion/flush/flush.stories.tsx
  src/components/accordion/outline/outline.stories.tsx
Due: prettier --write, eslint, npm run test:staged

fix: remove unnecessary css file
  src/components/accordion/base/base.module.css
Due: prettier --write

chore: added displayName for better debugging
  src/components/accordion/base/index.tsx
  src/components/accordion/elevate/index.tsx
  src/components/accordion/fill/index.tsx
  src/components/accordion/flush/index.tsx
  src/components/accordion/outline/index.tsx
Due: prettier --write, eslint, npm run test:staged

fix: elevate story rendering size
  src/components/accordion/elevate/elevate.stories.tsx
Due: prettier --write, eslint, npm run test:staged

chore: renamed useScreen to useBreakpoints
  src/components/typography/index.ts
  src/contexts/screen/index.tsx
  src/hooks/index.ts
  src/hooks/useBreakpoint/index.ts
  src/hooks/useBreakpoint/useBreakpoint.tsx
  src/hooks/useScreen/index.ts
  src/providers/breakpoint/index.tsx
  src/providers/index.ts
  test-utils/index.tsx
Due: prettier --write, eslint, npm run test:staged

chore: removed component from LinkItem to Link
  __snapshots__/components/link/link.test.tsx.snap
  src/components/link-item/index.tsx
  src/components/link-item/types.ts
  src/components/link/index.tsx
  src/components/link/link.classnames.ts
  src/components/link/link.stories.tsx
  src/components/link/link.test.tsx
  src/components/link/types.ts
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.1.8 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

ci: release(version): Release 1.1.9 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: created different directory for each badge
  src/components/badge/empty/badge-empty.stories.tsx
  src/components/badge/empty/index.tsx
  src/components/badge/index.tsx
  src/components/badge/label/badge-label.stories.tsx
  src/components/badge/label/index.tsx
Due: prettier --write, eslint, npm run test:staged

chore: types are moved to a different file
  src/components/badge/badge.classname.ts
  src/components/badge/types.ts
Due: prettier --write, eslint, npm run test:staged

chore: added test cases for empty label
  __snapshots__/components/badge/empty/badge-empty.test.tsx.snap
  src/components/badge/empty/badge-empty.stories.tsx
  src/components/badge/empty/badge-empty.test.tsx
  src/components/badge/empty/index.tsx
  src/components/badge/label/index.tsx
Due: prettier --write, eslint, npm run test:staged

chore: added test cases for label badge
  __snapshots__/components/badge/label/badge-label.test.tsx.snap
  src/components/badge/label/badge-label.test.tsx
Due: prettier --write, eslint, npm run test:staged

chore: udpated story
  src/components/badge/empty/badge-empty.stories.tsx
Due: prettier --write, eslint, npm run test:staged

chore: update typography default colors
  src/components/typography/code/index.tsx
  src/components/typography/text/index.tsx
  src/components/typography/text/text.classes.ts
Due: prettier --write, eslint, npm run test:staged

chore: update snapshots
  __snapshots__/components/typography/code/code.test.tsx.snap
  __snapshots__/components/typography/text/text.test.tsx.snap
  __snapshots__/components/typography/typography.test.tsx.snap
Due: none

chore: update chip component style and allow controlled behaviour
  __snapshots__/components/chip/selectable-chip/selectable-chip.test.tsx.snap
  src/components/chip/chip.classnames.ts
  src/components/chip/dropdown-chip-multi-select/dropdown-chip-multi-select.stories.ts
  src/components/chip/dropdown-chip-multi-select/index.tsx
  src/components/chip/dropdown-chip-single-select/index.tsx
  src/components/chip/selectable-chip/index.tsx
  src/components/chip/selectable-chip/selectable-chip.stories.ts
  src/components/chip/types.tsx
Due: prettier --write, eslint, npm run test:staged

chore: implemented context
  __snapshots__/components/action-sheet/footer/footer.test.tsx.snap
  __snapshots__/components/action-sheet/portal/portal.test.tsx.snap
  __snapshots__/components/action-sheet/root/root.test.tsx.snap
  src/components/action-sheet/close/close.test.tsx
  src/components/action-sheet/close/index.tsx
  src/components/action-sheet/footer/footer.test.tsx
  src/components/action-sheet/footer/index.tsx
  src/components/action-sheet/handle-bar/index.tsx
  src/components/action-sheet/index.tsx
  src/components/action-sheet/mocks/example.tsx
  src/components/action-sheet/portal/index.tsx
  src/components/action-sheet/portal/portal.test.tsx
  src/components/action-sheet/root/index.tsx
  src/components/action-sheet/root/root.test.tsx
  src/components/action-sheet/trigger/index.tsx
  src/components/action-sheet/trigger/trigger.test.tsx
  src/components/action-sheet/types.ts
  src/hooks/useSwipeBlock/index.ts
Due: prettier --write, eslint, npm run test:staged

chore: exported action sheet
  src/components/index.ts
Due: prettier --write, eslint, npm run test:staged

chore: added a wrapper in portal test
  src/components/action-sheet/portal/portal.test.tsx
Due: prettier --write, eslint, npm run test:staged

style: :art: incorporated accessibility and styles
  src/components/pagination/index.tsx
  src/components/pagination/pagination-button.test.tsx
  src/components/pagination/pagination-button.tsx
  src/components/pagination/pagination.classnames.ts
  src/components/pagination/pagination.test.tsx
Due: prettier --write, eslint, npm run test:staged

chore: rename index.tsx to index.ts
  src/components/chip/types.ts
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.1.10 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

ci: release(version): Release 1.1.11 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: stories and border width and color
  src/components/accordion/accordion.classnames.ts
  src/components/accordion/base/index.tsx
  src/components/accordion/flush/flush.stories.tsx
  src/components/accordion/flush/index.tsx
Due: prettier --write, eslint, npm run test:staged

chore: add border animation for input wrapper
  __snapshots__/components/input/base/base.test.tsx.snap
  __snapshots__/components/input/search-field/search-field.test.tsx.snap
  __snapshots__/components/input/text-field/text-field.test.tsx.snap
  src/components/input/base/base.classnames.ts
  src/components/input/search-field/index.tsx
Due: prettier --write, eslint, npm run test:staged

Path conditions:
  prettier --write: (any of: *.{tsx,ts}) or (any of: *.{scss,css})
  eslint: any of: *.{tsx,ts}
  npm run test:staged: any of: ./src/**/*.{js,jsx,ts,tsx}
