Repository shantanug-deriv/quill-design: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.0.11 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Update from https://github.com/deriv-com/quill-tokens/commit/f3f61eec113e36dbc21a41e823d768d25020205e
  quill-tailwind/_laptop.css
  quill-tailwind/_lg.css
  quill-tailwind/_sm.css
  quill-tailwind/_tablet.css
  quill-tailwind/styles.css
  quill-tailwind/token-names.js
Due: prettier --write

ci: release(version): Release 1.0.12 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Update from https://github.com/deriv-com/quill-tokens/commit/0a0685de6359dbf120c5c605f6e16b60316d4776
  quill-tailwind/tailwind.config.cjs
  quill-tailwind/tailwind.config.js
  quill-tailwind/token-names.ts
Due: prettier --write, eslint

chore: added qt merge and it's config
  .storybook/main.ts
  .vscode/extensions.json
  __snapshots__/components/containers/containers.test.tsx.snap
  jest.config.ts
  package-lock.json
  package.json
  quill-tailwind/token-names.js
  quill-tailwind/token-names.ts
  rollup.config.ts
  src/components/button/index.tsx
  src/components/containers/fix/index.tsx
  src/components/containers/fluid/index.tsx
  src/components/layouts/app/index.tsx
  src/components/typography/heading/h1/index.tsx
  src/components/typography/heading/h2/index.tsx
  src/components/typography/heading/h3/index.tsx
  src/components/typography/heading/h4/index.tsx
  src/components/typography/heading/h5/index.tsx
  src/components/typography/heading/h6/index.tsx
  src/components/typography/heading/h7/index.tsx
  src/components/typography/heading/hero/index.tsx
  src/components/typography/text/index.tsx
  src/index.ts
  src/qt-merge/index.ts
  tsconfig.json
Due: prettier --write, eslint, npm run test:staged

Update from https://github.com/deriv-com/quill-tokens/commit/d510eb2a5bef5fa421ca2a026418910bc968ba48
  quill-tailwind/_desktop.css
  quill-tailwind/_laptop.css
  quill-tailwind/_lg.css
  quill-tailwind/_mobile.css
  quill-tailwind/_sm.css
  quill-tailwind/_tablet.css
  quill-tailwind/styles.css
  quill-tailwind/tailwind.config.cjs
  quill-tailwind/tailwind.config.js
  quill-tailwind/token-names.ts
Due: prettier --write, eslint

chore: update media queires to use quill-tailwind screens
  __snapshots__/components/containers/containers.test.tsx.snap
  src/components/containers/fluid/index.tsx
  tailwind.config.js
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.0.13 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: updated build exports
  package.json
  rollup.config.ts
  src/components/containers/box/index.tsx
  src/components/containers/section/index.tsx
  src/declaration.d.ts
  src/index.ts
  src/types/index.ts
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.0.14 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: update paddings on fluid contaienr
  .eslintrc.json
  .vscode/settings.json
  __snapshots__/components/containers/containers.test.tsx.snap
  package-lock.json
  package.json
  src/components/containers/fluid/index.tsx
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.0.15 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: updated section component and removed bg-color from fluid container
  __snapshots__/components/containers/containers.test.tsx.snap
  src/components/containers/fluid/index.tsx
  src/components/containers/section/index.tsx
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.0.16 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: added code, caption components
  .vscode/settings.json
  __snapshots__/components/typography/caption/caption.test.tsx.snap
  __snapshots__/components/typography/code/code.test.tsx.snap
  __snapshots__/components/typography/text/text.test.tsx.snap
  __snapshots__/components/typography/typography.test.tsx.snap
  src/components/typography/caption/caption.stories.tsx
  src/components/typography/caption/caption.test.tsx
  src/components/typography/caption/index.tsx
  src/components/typography/code/code.stories.tsx
  src/components/typography/code/code.test.tsx
  src/components/typography/code/index.tsx
  src/components/typography/index.ts
  src/components/typography/text/index.tsx
  src/components/typography/text/text.test.tsx
  src/types/index.ts
  tsconfig.json
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.0.17 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Update from https://github.com/deriv-com/quill-tokens/commit/955e3b3aeb750df4abb998e040f5831216bdb458
  quill-tailwind/_core.css
  quill-tailwind/_dark.css
  quill-tailwind/_desktop.css
  quill-tailwind/_laptop.css
  quill-tailwind/_lg.css
  quill-tailwind/_light.css
  quill-tailwind/_mobile.css
  quill-tailwind/_sm.css
  quill-tailwind/_tablet.css
  quill-tailwind/tailwind.config.cjs
  quill-tailwind/tailwind.config.js
  quill-tailwind/token-names.ts
Due: prettier --write, eslint

ci: release(version): Release 1.0.18 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: temp buttons
  package-lock.json
  package.json
  src/components/button/basic/basic-button.stories.tsx
  src/components/button/basic/index.tsx
  src/components/button/styles.module.scss
  src/components/typography/caption/index.tsx
Due: prettier --write, eslint, npm run test:staged

chore: updated quill tokens
  quill-tailwind/_dark.css
  quill-tailwind/_desktop.css
  quill-tailwind/_laptop.css
  quill-tailwind/_lg.css
  quill-tailwind/_light.css
  quill-tailwind/_mobile.css
  quill-tailwind/_sm.css
  quill-tailwind/_tablet.css
  quill-tailwind/tailwind.config.cjs
  quill-tailwind/tailwind.config.js
  quill-tailwind/token-names.ts
Due: prettier --write, eslint

ci: release(version): Release 1.0.19 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: added Tag component
  __snapshots__/components/tag/tag.test.tsx.snap
  src/components/index.ts
  src/components/tag/constants.ts
  src/components/tag/index.tsx
  src/components/tag/tag.stories.ts
  src/components/tag/tag.test.tsx
Due: prettier --write, eslint, npm run test:staged

fix: small improvements
  __snapshots__/components/tag/tag.test.tsx.snap
  src/components/tag/index.tsx
  src/components/tag/tag.stories.ts
Due: prettier --write, eslint, npm run test:staged

fix: added quill icons
  package-lock.json
  package.json
Due: none

chore: Updated the tag component
  __snapshots__/components/tag/tag.test.tsx.snap
  src/components/tag/index.tsx
  src/components/tag/tag.classnames.ts
  src/components/tag/tag.stories.ts
  src/components/tag/tag.test.tsx
Due: prettier --write, eslint, npm run test:staged

chore: added args inside of storybook
  jest.config.ts
  src/components/tag/tag.stories.ts
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.0.20 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/component-tempalte.md
Due: none

Update issue templates [skip ci]
  .github/ISSUE_TEMPLATE/component-template.md
Due: none

chore: added class variance authority package
  package-lock.json
  package.json
Due: none

ci: release(version): Release 1.0.21 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: added custom tags - added custom colors - added custom icons - updated storybook - updated test case
  __snapshots__/components/tag/tag.test.tsx.snap
  src/components/tag/index.tsx
  src/components/tag/tag.classnames.ts
  src/components/tag/tag.stories.ts
  src/components/tag/tag.test.tsx
Due: prettier --write, eslint, npm run test:staged

chore: Chip component
  package-lock.json
  package.json
  src/components/chip/dismissible-chip/dismissible-chip.stories.ts
  src/components/chip/dismissible-chip/index.tsx
  src/components/chip/dropdown-chip-multi-select/dropdown-chip-multi-select.stories.ts
  src/components/chip/dropdown-chip-multi-select/index.tsx
  src/components/chip/dropdown-chip-single-select/dropdown-chip-single-select.stories.ts
  src/components/chip/dropdown-chip-single-select/index.tsx
  src/components/chip/index.tsx
  src/components/chip/selectable-chip/index.tsx
  src/components/chip/selectable-chip/selectable-chip.classnames.ts
  src/components/chip/selectable-chip/selectable-chip.stories.ts
  src/components/chip/selectable-chip/selectable-chip.test.tsx
  src/components/chip/selectable-chip/styles.module.scss
  src/components/chip/types.tsx
  src/components/index.ts
Due: prettier --write, eslint, npm run test:staged

chore: Finalize component - Full test case - Include CVA
  __snapshots__/components/chip/selectable-chip/selectable-chip.test.tsx.snap
  package-lock.json
  package.json
  src/components/chip/chip.classnames.ts
  src/components/chip/dismissible-chip/dismissible-chip.test.tsx
  src/components/chip/dropdown-chip-multi-select/dropdown-chip-multi-select.stories.ts
  src/components/chip/dropdown-chip-multi-select/dropdown-chip-multi-select.test.tsx
  src/components/chip/dropdown-chip-multi-select/index.tsx
  src/components/chip/dropdown-chip-single-select/dropdown-chip-single-select.stories.ts
  src/components/chip/dropdown-chip-single-select/dropdown-chip-single-select.test.tsx
  src/components/chip/dropdown-chip-single-select/index.tsx
  src/components/chip/selectable-chip/index.tsx
  src/components/chip/selectable-chip/selectable-chip.classnames.ts
  src/components/chip/selectable-chip/selectable-chip.test.tsx
  src/components/chip/types.tsx
Due: prettier --write, eslint, npm run test:staged

feat: action sheet component created
  src/components/action-sheet/action-sheet.stories.tsx
  src/components/action-sheet/body.tsx
  src/components/action-sheet/header.tsx
  src/components/action-sheet/index.tsx
Due: prettier --write, eslint, npm run test:staged

chore: fix types - Removed unused files - Update TS types - Change Base Chip variant's classname
  src/components/chip/chip.classnames.ts
  src/components/chip/selectable-chip/styles.module.scss
  src/components/chip/types.tsx
Due: prettier --write, eslint, npm run test:staged

chore: update test snapshots
  __snapshots__/components/chip/selectable-chip/selectable-chip.test.tsx.snap
Due: none

chore: Dismissible chip cursor only shown on icon
  __snapshots__/components/chip/selectable-chip/selectable-chip.test.tsx.snap
  src/components/chip/chip.classnames.ts
  src/components/chip/selectable-chip/index.tsx
Due: prettier --write, eslint, npm run test:staged

chore: update TS type
  src/components/chip/dropdown-chip-single-select/index.tsx
Due: prettier --write, eslint, npm run test:staged

feat: action sheet component created
  src/components/action-sheet/content.tsx
  src/components/action-sheet/footer.tsx
  src/components/action-sheet/index.tsx
Due: prettier --write, eslint, npm run test:staged

Path conditions:
  prettier --write: (any of: *.{tsx,ts}) or (any of: *.{scss,css})
  eslint: any of: *.{tsx,ts}
  npm run test:staged: any of: ./src/**/*.{js,jsx,ts,tsx}
