Repository shantanug-deriv/quill-design: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, npm run test:staged

chore: Update readme.md
  readme.md
Due: none

chore: added configuration for chromatic ci
  .github/workflows/chromatic.yaml
  .gitignore
  package-lock.json
  package.json
Due: none

Update from https://github.com/deriv-com/quill-tokens/commit/7269401e3cfecbe81ee8758632d1f6262df8015c
  quill-tailwind/_core.css
  quill-tailwind/_dark.css
  quill-tailwind/_desktop.css
  quill-tailwind/_light.css
  quill-tailwind/_mobile.css
  quill-tailwind/styles.css
  quill-tailwind/tailwind.config.cjs
  quill-tailwind/tailwind.config.js
Due: prettier --write

ci: updated chromatic script to check for changed stories
  package.json
Due: none

ci: added only changed in chromatic github action options
  .github/workflows/chromatic.yaml
Due: none

docs: Update readme.md
  readme.md
Due: none

chore: updated typography components to use semantic tokens
  .eslintrc.json
  .storybook/main.ts
  .storybook/preview-head.html
  .storybook/preview.tsx
  .vscode/settings.json
  __snapshots__/components/containers/fluid/fluid-container.test.tsx.snap
  __snapshots__/components/typography/text/text.test.tsx.snap
  __snapshots__/components/typography/typography.test.tsx.snap
  package-lock.json
  package.json
  src/components/button/button.stories.ts
  src/components/containers/box/index.tsx
  src/components/containers/fluid/fluid-container.test.tsx
  src/components/containers/index.ts
  src/components/containers/section/index.tsx
  src/components/containers/section/section.test.tsx
  src/components/typography/heading/h1/index.tsx
  src/components/typography/heading/h2/index.tsx
  src/components/typography/heading/h3/index.tsx
  src/components/typography/heading/h4/index.tsx
  src/components/typography/heading/h5/index.tsx
  src/components/typography/heading/h6/index.tsx
  src/components/typography/heading/h7/index.tsx
  src/components/typography/heading/hero/index.tsx
  src/components/typography/text/body.stories.ts
  src/components/typography/text/index.tsx
  src/components/typography/text/text.test.tsx
  src/declaration.d.ts
  tailwind.config.js
  tsconfig.json
Due: prettier --write, eslint, npm run test:staged

Update from https://github.com/deriv-com/quill-tokens/commit/ff909c8448e77db7bb4508b3541e577878b4b2ce
  quill-tailwind/_core.css
  quill-tailwind/_dark.css
  quill-tailwind/_light.css
  quill-tailwind/_mobile.css
  quill-tailwind/tailwind.config.cjs
  quill-tailwind/tailwind.config.js
Due: prettier --write

fix: updated font family with new quill tailwind configs
  .commitlintrc.json
  .github/workflows/release.yaml
  CHANGELOG.md
  __snapshots__/components/button/button.test.tsx.snap
  __snapshots__/components/typography/text/text.test.tsx.snap
  __snapshots__/components/typography/typography.test.tsx.snap
  readme.md
  release.config.js
  release.utils.js
  src/components/button/index.tsx
  src/components/typography/heading/h1/index.tsx
  src/components/typography/heading/h2/index.tsx
  src/components/typography/heading/h3/index.tsx
  src/components/typography/heading/h4/index.tsx
  src/components/typography/heading/h5/index.tsx
  src/components/typography/heading/h6/index.tsx
  src/components/typography/heading/h7/index.tsx
  src/components/typography/heading/hero/index.tsx
  src/components/typography/text/index.tsx
Due: prettier --write, eslint, npm run test:staged

ci: updated npmrc
  .npmrc
Due: none

ci: enable release, removed dryRun flag from semantic release config
  package.json
  release.config.js
Due: none

ci: release(version): Release 1.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

ci: updated storybook builder from vite to webpack5 to use json-stat cli option
  .babelrc.json
  .storybook/main.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

ci: release(version): Release 1.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: updated heading names and made them PascalCase
  src/components/typography/heading/index.tsx
  src/components/typography/typography.test.tsx
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.0.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

ci: added quill-tailwind folder as externals in chromatic
  .github/workflows/chromatic.yaml
Due: none

ci: release(version): Release 1.0.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: updated package.json file chromatic script [skip ci]
  package.json
Due: none

ci: updated chromatic github action externals [skip ci]
  .github/workflows/chromatic.yaml
Due: none

Update from https://github.com/deriv-com/quill-tokens/commit/7cedad426e7f75feb4e8d50d10c4895dd463548f
  quill-tailwind/tailwind.config.cjs
  quill-tailwind/tailwind.config.js
Due: none

chore: adopted new quill token names in component classnames
  __snapshots__/components/button/button.test.tsx.snap
  __snapshots__/components/layouts/layouts.test.tsx.snap
  __snapshots__/components/typography/text/text.test.tsx.snap
  __snapshots__/components/typography/typography.test.tsx.snap
  src/components/button/button.test.tsx
  src/components/button/index.tsx
  src/components/layouts/app/index.tsx
  src/components/typography/heading/h1/index.tsx
  src/components/typography/heading/h2/index.tsx
  src/components/typography/heading/h3/index.tsx
  src/components/typography/heading/h4/index.tsx
  src/components/typography/heading/h5/index.tsx
  src/components/typography/heading/h6/index.tsx
  src/components/typography/heading/h7/index.tsx
  src/components/typography/heading/hero/index.tsx
  src/components/typography/text/index.tsx
  src/providers/theme/index.tsx
Due: prettier --write, eslint, npm run test:staged

ci: Update release.yaml
  .github/workflows/release.yaml
Due: none

ci: release(version): Release 1.0.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

build: enabled rollup terser plugin
  rollup.config.ts
Due: prettier --write, eslint

ci: release(version): Release 1.0.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

ci: release to npm registry
  .github/workflows/release.yaml
  .npmrc
  package-lock.json
  package.json
Due: none

ci: fixed semantic github releasea
  .github/workflows/release.yaml
Due: none

ci: release(version): Release 1.0.6 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

ci: make package public
  package.json
Due: none

ci: release(version): Release 1.0.7 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

ci: update package.json [skip ci]
  package.json
Due: none

ci: updated release configs
  package.json
  release.config.js
Due: none

ci: release(version): Release 1.0.8 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

ci: make npm package public
  package.json
Due: none

ci: release(version): Release 1.0.9 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

docs: updated readme file for installation instruction
  readme.md
Due: none

ci: release(version): Release 1.0.10 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Update from https://github.com/deriv-com/quill-tokens/commit/c69877528ea9e6bf20a1cb20f8737e2bd3fa1080
  quill-tailwind/tailwind.config.cjs
  quill-tailwind/tailwind.config.js
Due: none

chore: added tailwind eslint config and prettier plugin
  .eslintrc.json
  package-lock.json
  package.json
  release.utils.js
  src/components/typography/text/index.tsx
Due: prettier --write, eslint, npm run test:staged

Path conditions:
  prettier --write: (any of: *.{tsx,ts}) or (any of: *.{scss,css})
  eslint: any of: *.{tsx,ts}
  npm run test:staged: any of: ./src/**/*.{js,jsx,ts,tsx}
