Repository shantanug-deriv/quill-design: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, npm run test:staged

.lintstagedrc.json:

{
    "*.{tsx,ts}": [
      "prettier --write",
      "eslint"
    ],    
    "*.{scss,css}": "prettier --write",
    "./src/**/*.{js,jsx,ts,tsx}": ["npm run test:staged"]
}

ci: release(version): Release 1.2.6 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: fixed tab panel id
  src/components/tabs/list/index.tsx
  src/components/tabs/panel/index.tsx
Due: prettier --write, eslint, npm run test:staged

chore: updated max height form 70vh to 90vh
  src/hooks/useSwipeBlock/index.ts
Due: prettier --write, eslint, npm run test:staged

chore: added is server condition
  src/components/action-sheet/portal/index.tsx
Due: prettier --write, eslint, npm run test:staged

chore: updated toggle function
  src/components/action-sheet/close/index.tsx
  src/components/action-sheet/footer/index.tsx
  src/components/action-sheet/portal/index.tsx
  src/components/action-sheet/root/index.tsx
  src/components/action-sheet/trigger/index.tsx
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.2.7 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: udpated portal test for use ssr hook
  src/components/action-sheet/portal/portal.test.tsx
  src/components/action-sheet/root/index.tsx
Due: prettier --write, eslint, npm run test:staged

chore: fixed footer buttons action
  src/components/action-sheet/footer/index.tsx
Due: prettier --write, eslint, npm run test:staged

chore: fixed body dragging in lg
  src/components/action-sheet/portal/index.tsx
  src/hooks/useSwipeBlock/index.ts
Due: prettier --write, eslint, npm run test:staged

chore: fixed close button position
  src/components/action-sheet/close/index.tsx
Due: prettier --write, eslint, npm run test:staged

chore: updated useSwipeBlock hooks test
  src/hooks/useSwipeBlock/index.ts
  src/hooks/useSwipeBlock/useSwipeBlock.test.tsx
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.2.8 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: removed tailwind base ( css reset )
  .storybook/preview.tsx
  .storybook/tailwind.scss
Due: prettier --write, eslint

ci: release(version): Release 1.2.9-beta.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: updated readme file and added reference to wiki pages
  readme.md
  src/styles.scss
Due: prettier --write

ci: release(version): Release 1.2.9-beta.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: updated readme file
  readme.md
Due: none

chore: handled icon and text sizes
  src/components/accordion/accordion.classnames.ts
  src/components/accordion/base/index.tsx
  src/components/accordion/elevate/elevate.stories.tsx
  src/components/accordion/fill/fill.stories.tsx
  src/components/accordion/flush/flush.stories.tsx
  src/components/accordion/outline/outline.stories.tsx
  src/components/accordion/types.ts
  src/types/generics.ts
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.2.9-beta.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: updated storybook configs for tailwind css
  .storybook/tailwind.scss
Due: prettier --write

ci: release(version): Release 1.2.9-beta.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

ci: release(version): Release 1.2.9 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: input dropdown
  src/components/input-dropdown/base/base.classnames.ts
  src/components/input-dropdown/base/index.tsx
  src/components/input-dropdown/index.tsx
  src/components/input-dropdown/input-dropdown/index.tsx
  src/components/input-dropdown/input-dropdown/input-dropdown.stories.tsx
  src/components/input-dropdown/types.ts
Due: prettier --write, eslint, npm run test:staged

chore: updated chips dot notation exports
  src/components/chip/index.tsx
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.2.10 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: grey line tab issue
  src/components/tabs/tab.classnames.ts
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.2.11 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: added use mounted hook for action sheet
  src/components/action-sheet/portal/index.tsx
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.2.12 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: updated storybook and fixed lableless dropdown
  src/components/input-dropdown/base/base.classnames.ts
  src/components/input-dropdown/base/index.tsx
  src/components/input-dropdown/index.tsx
  src/components/input-dropdown/input-dropdown/index.tsx
  src/components/input-dropdown/input-dropdown/input-dropdown.stories.tsx
  src/components/input-dropdown/input-select-dropdown.stories.tsx
  src/components/input-dropdown/types.ts
Due: prettier --write, eslint, npm run test:staged

fix: alignment issues for chip single select and multi-select - wrap ListBox component with flex column for both DropdownChipSingleSelect & DropdownChipMultiSelect
  src/components/chip/dropdown-chip-multi-select/index.tsx
  src/components/chip/dropdown-chip-single-select/index.tsx
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.2.13 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: add device variable flags - test
  src/contexts/screen/index.tsx
  src/hooks/useBreakpoint/useBreakpoint.tsx
  src/providers/breakpoint/index.tsx
Due: prettier --write, eslint, npm run test:staged

fix: adding missing export for link component
  src/components/index.ts
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.2.14 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

ci: release(version): Release 1.2.15 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

ci: updated release action [skip ci]
  .github/workflows/release.yaml
Due: none

chore: added starte and updated styles
  src/components/accordion/accordion.classnames.ts
  src/components/accordion/base/index.tsx
  src/components/accordion/elevate/elevate.stories.tsx
  src/components/accordion/types.ts
Due: prettier --write, eslint, npm run test:staged

chore: exported action sheet context consumer hook
  src/components/action-sheet/index.tsx
Due: prettier --write, eslint, npm run test:staged
