Repository shantanug-deriv/quill-design: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, npm run test:staged

.lintstagedrc.json:

{
    "*.{tsx,ts}": [
      "prettier --write",
      "eslint"
    ],    
    "*.{scss,css}": "prettier --write",
    "./src/**/*.{js,jsx,ts,tsx}": ["npm run test:staged"]
}

chore: updated type
  src/components/action-sheet/root.tsx
Due: prettier --write, eslint, npm run test:staged

refactor: :bug: incorporated child component in Pagination
  src/components/pagination/index.tsx
  src/components/pagination/mocks/Post.tsx
  src/components/pagination/pagination.stories.ts
  src/components/pagination/pagination.test.tsx
  src/components/pagination/pagination.types.ts
Due: prettier --write, eslint, npm run test:staged

chore: Fix dropdown chip layout shifting issue
  src/components/chip/chip.classnames.ts
Due: prettier --write, eslint, npm run test:staged

refactor: :label: added typesafety
  src/components/pagination/mocks/Post.tsx
  src/components/pagination/pagination.types.ts
Due: prettier --write, eslint, npm run test:staged

refactor: :label: fixed type for mock file
  src/components/pagination/mocks/Post.tsx
Due: prettier --write, eslint, npm run test:staged

fix: :fire: removed theme variant placeholder
  src/components/pagination/pagination.classnames.ts
Due: prettier --write, eslint, npm run test:staged

chore: :bento: updated index files
  src/components/index.ts
  src/hooks/index.ts
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.0.25 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: initial commit
  __snapshots__/components/input/base/base.test.tsx.snap
  __snapshots__/components/input/search-field/search-field.test.tsx.snap
  __snapshots__/components/input/text-field/text-field.test.tsx.snap
  src/components/input/base/base.classnames.ts
  src/components/input/base/base.test.tsx
  src/components/input/base/index.tsx
  src/components/input/index.ts
  src/components/input/search-field/index.tsx
  src/components/input/search-field/search-field.stories.ts
  src/components/input/search-field/search-field.test.tsx
  src/components/input/text-field/index.tsx
  src/components/input/text-field/text-field.stories.ts
  src/components/input/text-field/text-field.test.tsx
Due: prettier --write, eslint, npm run test:staged

chore: add status icon
  __snapshots__/components/input/search-field/search-field.test.tsx.snap
  src/components/input/base/base.classnames.ts
  src/components/input/base/index.tsx
  src/components/input/search-field/index.tsx
  src/components/input/search-field/search-field.stories.ts
Due: prettier --write, eslint, npm run test:staged

chore: disable status change for icon story
  __snapshots__/components/input/base/base.test.tsx.snap
  __snapshots__/components/input/search-field/search-field.test.tsx.snap
  __snapshots__/components/input/text-field/text-field.test.tsx.snap
  src/components/input/base/base.classnames.ts
  src/components/input/search-field/search-field.stories.ts
  src/components/input/text-field/text-field.stories.ts
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.0.26 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: added storybook documentation
  src/components/action-sheet/action-sheet.stories.tsx
  src/components/action-sheet/mocks/example.tsx
Due: prettier --write, eslint, npm run test:staged

chore: added exclude null and undefined type
  src/types/index.ts
Due: prettier --write, eslint, npm run test:staged

ci: release(version): Release 1.0.27 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: :green_heart: added Badge component
  src/components/badge/badge.classname.ts
  src/components/badge/badge.stories.tsx
  src/components/badge/index.tsx
Due: prettier --write, eslint, npm run test:staged

chore: updated react package versions
  package-lock.json
  package.json
Due: none

chore: fixed the version number of quill-icons
  package.json
Due: none

ci: release(version): Release 1.0.28 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: replace js with css
  __snapshots__/components/input/base/base.test.tsx.snap
  __snapshots__/components/input/search-field/search-field.test.tsx.snap
  __snapshots__/components/input/text-field/text-field.test.tsx.snap
  src/components/index.ts
  src/components/input/base/base.classnames.ts
  src/components/input/base/index.tsx
  src/components/input/index.ts
  src/components/input/text-field/text-field.stories.ts
Due: prettier --write, eslint, npm run test:staged

chore: added test for header
  src/components/action-sheet/header/header.test.tsx
  src/components/action-sheet/header/index.tsx
Due: prettier --write, eslint, npm run test:staged

chore: added test for content
  src/components/action-sheet/content/content.test.tsx
  src/components/action-sheet/content/index.tsx
Due: prettier --write, eslint, npm run test:staged

chore: added test for handle bar
  src/components/action-sheet/handle-bar/handle-bar.test.tsx
  src/components/action-sheet/handle-bar/index.tsx
Due: prettier --write, eslint, npm run test:staged

chore: add transparent to color config
  __snapshots__/components/input/base/base.test.tsx.snap
  __snapshots__/components/input/search-field/search-field.test.tsx.snap
  __snapshots__/components/input/text-field/text-field.test.tsx.snap
  src/components/input/base/base.classnames.ts
  src/components/input/search-field/search-field.stories.ts
  tailwind.config.js
Due: prettier --write, eslint, npm run test:staged

chore: added 75 black and white colors
  package.json
  quill-tailwind/_core.css
  quill-tailwind/tailwind.config.cjs
  quill-tailwind/tailwind.config.js
  quill-tailwind/token-names.ts
Due: prettier --write, eslint

ci: release(version): Release 1.0.29 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: Chip component design improvements - Update tests for chip dropdowns - Re-arrange classnames - Change hover effect style for disable state - Change label tag style for disable state
  __snapshots__/components/chip/selectable-chip/selectable-chip.test.tsx.snap
  src/components/chip/chip.classnames.ts
  src/components/chip/dropdown-chip-multi-select/dropdown-chip-multi-select.stories.ts
  src/components/chip/dropdown-chip-multi-select/dropdown-chip-multi-select.test.tsx
  src/components/chip/dropdown-chip-multi-select/index.tsx
  src/components/chip/dropdown-chip-single-select/dropdown-chip-single-select.stories.ts
  src/components/chip/dropdown-chip-single-select/dropdown-chip-single-select.test.tsx
  src/components/chip/dropdown-chip-single-select/index.tsx
  src/components/chip/selectable-chip/index.tsx
  src/components/chip/selectable-chip/selectable-chip.test.tsx
  src/components/chip/types.tsx
Due: prettier --write, eslint, npm run test:staged

chore: added test for footer
  __snapshots__/components/action-sheet/footer/footer.test.tsx.snap
  src/components/action-sheet/footer/footer.test.tsx
  src/components/action-sheet/footer/index.tsx
  src/components/action-sheet/types.ts
Due: prettier --write, eslint, npm run test:staged

chore: udpate storybook to remove dismissible prop
  src/components/chip/dismissible-chip/dismissible-chip.stories.ts
  src/components/chip/dropdown-chip-multi-select/dropdown-chip-multi-select.stories.ts
  src/components/chip/dropdown-chip-single-select/dropdown-chip-single-select.stories.ts
  src/components/chip/selectable-chip/selectable-chip.stories.ts
Due: prettier --write, eslint, npm run test:staged

chore: change border color for selected chip and udpate test snapshots
  __snapshots__/components/chip/selectable-chip/selectable-chip.test.tsx.snap
  src/components/chip/chip.classnames.ts
Due: prettier --write, eslint, npm run test:staged

chore: added test cases for root
  __snapshots__/components/action-sheet/root/root.test.tsx.snap
  src/components/action-sheet/handle-bar/index.tsx
  src/components/action-sheet/root/index.tsx
  src/components/action-sheet/root/root.test.tsx
  src/components/action-sheet/types.ts
Due: prettier --write, eslint, npm run test:staged

chore: added test cases for useSwipeBlock
  src/hooks/useSwipeBlock/useSwipeBlock.test.tsx
Due: prettier --write, eslint, npm run test:staged

chore: typo fix
  src/components/action-sheet/content/content.test.tsx
  src/components/action-sheet/footer/footer.test.tsx
  src/components/action-sheet/handle-bar/handle-bar.test.tsx
  src/components/action-sheet/header/header.test.tsx
Due: prettier --write, eslint, npm run test:staged

chore: added portal
  src/components/action-sheet/root/index.tsx
Due: prettier --write, eslint, npm run test:staged

chore: updated snapshot
  __snapshots__/components/action-sheet/root/root.test.tsx.snap
Due: none

chore: updated package lock
  package-lock.json
Due: none

chore: updated root
  __snapshots__/components/action-sheet/root/root.test.tsx.snap
  src/components/action-sheet/action-sheet.classnames.ts
  src/components/action-sheet/root/index.tsx
  src/components/action-sheet/root/root.test.tsx
Due: prettier --write, eslint, npm run test:staged

chore: updated example
  src/components/action-sheet/mocks/example.tsx
Due: prettier --write, eslint, npm run test:staged

chore: trade button variants added
  __snapshots__/components/button/button.test.tsx.snap
  __snapshots__/components/typography/code/code.test.tsx.snap
  __snapshots__/components/typography/text/text.test.tsx.snap
  __snapshots__/components/typography/typography.test.tsx.snap
  src/components/button/button.classes.ts
  src/components/button/button.test.tsx
  src/components/button/icon/icon-button.stories.tsx
  src/components/button/icon/index.tsx
  src/components/button/index.ts
  src/components/button/index.tsx
  src/components/button/link/index.tsx
  src/components/button/link/link-button.stories.tsx
  src/components/button/social/apple/index.tsx
  src/components/button/social/apple/social-apple.stories.tsx
  src/components/button/social/facebook/index.tsx
  src/components/button/social/facebook/social-facebook.stories.tsx
  src/components/button/social/google/index.tsx
  src/components/button/social/google/social-google.stories.tsx
  src/components/button/social/index.ts
  src/components/button/trade/index.tsx
  src/components/button/trade/trade-button.stories.tsx
  src/components/button/types/index.ts
  src/components/typography/caption/index.tsx
  src/components/typography/code/code.test.tsx
  src/components/typography/code/index.tsx
  src/components/typography/text/index.tsx
  src/components/typography/text/text.classes.ts
  src/components/typography/text/text.test.tsx
  src/types/index.ts
Due: prettier --write, eslint, npm run test:staged

chore: updated storybook names
  src/components/button/social/apple/social-apple.stories.tsx
  src/components/button/social/facebook/social-facebook.stories.tsx
  src/components/button/social/google/social-google.stories.tsx
Due: prettier --write, eslint, npm run test:staged
